body {
    overflow: hidden;
}

.right, .left {
    position: absolute;
    background-position: center top;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100vh;
}

/* Right Container
===============================================*/
.right {
    width: 100vw;
    overflow: hidden;
    &-background {
        background: url('../img/BadEU.svg');
        background-size: cover;
        position: absolute;
        height: 100vh;
        width: 100vw;
    }
}

/* Left Container
===============================================*/
.left {
    width: 100vw;
    overflow: hidden;
    &-background {
        background: url('../img/GoodEU.svg');
        background-size: cover;
        position: absolute;
        height: 100vh;
        width: 100vw;
    }
}